h1{
    
width: 132px;
height: 46px;
color: rgba(230, 83, 60, 1);
font-style: italic;

}

.a{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.b{
    display: flex;
}








/* .nov,ul a{
width: 465px;
height: 46px;
padding: 4px 0px 0px 0px;
gap: 47px;
border-radius: 39px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

} */
